@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

@import "layout";
@import "navbar";


body {
    font-family: 'Lora';
}

// h1,h2 {
//     font-family: 'Bree Serif' !important;
    
// }//
.hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {    
      content: "";
      background-image: url('../images/farmbg.jpeg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.5;
}

.hero-image{
    width: 50%;
    margin: auto;
}

.align-center {
    align-items: center;
    margin-top: 5rem;
    .col{
        margin-top: 5rem;
    }
}

.circle-image {
    border-radius: 100px;
}

.round-edges {
    border-radius: 5px;
}

.nav-menu{
    list-style: none;
    padding-inline-start: 0.5px;
    li {
        display: inline-block;
        margin: 1rem;
        font-size: 1.25rem;
        cursor: pointer;
        border-bottom: 2.5px solid transparent;
        color: black;
    }

    li:hover {
      border-bottom-color:#a68243;
    }
}

.header-icon {
    margin: .5rem;
    &:nth-child(2){
        margin-right: 1rem;
    }
    font-size: 1.25rem;
    a {
        color: black;

    }
}
.header-icon a:hover {
    color: #a68243;
    cursor: pointer;
}

.max-960 {
  max-width: 960px;
}

.full-width {
    max-width: unset;
}

